<h2>Catálogo de cursos</h2>
<table mdbTable class="z-depth-1" id="courses_table">
  <thead>
    <tr>
         <!-- mdbTableSort logic included in table header -->
        <th [mdbTableSort]="courses" sortBy="title">Título <mdb-icon fas icon="sort"></mdb-icon></th>
        <th [mdbTableSort]="courses" sortBy="level">Nivel <mdb-icon fas icon="sort"></mdb-icon></th>
        <th [mdbTableSort]="courses" sortBy="hours">Horas <mdb-icon fas icon="sort"></mdb-icon></th>
        <th [mdbTableSort]="courses" sortBy="teacher">Profesor <mdb-icon fas icon="sort"></mdb-icon></th>
    </tr>
  </thead>
  <tbody>    
    <tr *ngFor="let course of courses; let i = index">
       <!-- itemIndex management included because of md-table-pagination staff -->
      <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{course.title}}</td>
      <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{course.level}}</td>
      <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{course.hours}}</td>
      <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">{{course.teacher}}</td>
  </tbody>
  <tfoot class="grey lighten-5 w-100">
      <tr>
          <td colspan="4">
            <!-- this mdb-table-pagination staff will allow us to move throught different table pages-->
            <mdb-table-pagination [searchDataSource]="courses" 
                                  (nextPageClick)="onNextPageClick($event)" 
                                  (previousPageClick)="onPreviousPageClick($event)">
            </mdb-table-pagination>
          </td>
        </tr>
  </tfoot>
</table>
<nav>
  <!-- link to add-course angular component -->
  <a routerLink="/add-course">Nuevo curso</a>
</nav>