#courses_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #courses_table td, #courses_table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #courses_table tr:nth-child(even){background-color: #f2f2f2;}
  
  #courses_table tr:hover {background-color: #ddd;}
  
  #courses_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(48, 76, 153);
    color: white;
  }