<div style="text-align:left">
  <h1>
    Añadir curso
  </h1>
</div>
<!-- Default form contact -->
<form #f = "ngForm">
  <label>Titulo</label>
  <input type="text" name="title" [(ngModel)] = "selectedCourse.title">
  <br>
  <label>Nivel</label>
  <input type="text" name="level" [(ngModel)] = "selectedCourse.level">
  <br>
  <label>Horas</label>
  <input type="text" name="hours" [(ngModel)] = "selectedCourse.hours">
  <br>
  <label>Profesor</label>
  <input type="text" name="teacher" [(ngModel)] = "selectedCourse.teacher">
  <br>
  <label>Activo </label>
  <input type="checkbox" name="state" [(ngModel)] = "selectedCourse.state" value = 1>
  <span class="checkmark"></span>
  <br>
  <input type="button" (click)="addCourse(f)" value="Añadir Curso">
</form>
<br>
<button (click)="goBack()">Volver a listado de cursos</button>